{% load static %}
<!-- # Added css styiling -->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Welcome to Our Restaurant</title>
            <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        </head>
        <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #fefefe; color: #333;">
            <div style="text-align: center; padding: 60px 20px; background-color: #ffdb99;">
                <img src="{% static 'home/logo.png' %}" alt="Restaurant logo"
                style="max-width: 150px; height: auto; margin-bottom: 20px;">
        <h1 style="font-size: 48px; margin-bottom: 10px;">Welcome to {{ restaurant_name }} </h1>
        <p style="font-size: 20px; margin: 0;"> Enjoy Delicious meals made with love</p>
            </div>

            <!-- // for search bar -->
            <form method="GET" action="">
                <input type="text" name="q" placeholder="search menu items......"/>

                <button type="submit">Search</button>
            </form>

            <div style = "text-align: center; padding: 10px; background-color: #333;">
                <a href="/" style = "color: white; margin-right: 20px; text-decoration: none;">Home</a>
                <a href="/about/" style="color: white; text-decoration: none;">About Us</a>
            </div>

              <div style="padding: 40px 20px;">
                <h2 style="font-size: 32px; text-align: center; margin-bottom: 30px;">Today's Specials</h2>

                <ul style="list-style: none; padding: 0; max-width: 600px; margin: auto;">
                    <li style="background: white; margin-bottom: 15px; padding: 20px; border-radius: 8px; box-shadow:0 2px 6px rgba(0,0,0,0.1);">
                      <strong>Masala Dosa</strong> - 80 rs
                    </li>

                    <li style="background: white; margin-bottom: 15px; padding: 20px; border-radious: 8px; box-shadow:0 2px 6px rgba(0,0,0,0.1);">
                        <strong>Chicken Biriyani </strong> - 150 rs
                    </li>

                    <li style="background: white; margin-bottom: 15px; padding: 20px; border-radious: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.1)">
                        <strong> Gulab Jamun </strong> - 50 rs
                </ul>  
              </div>

              <footer style="text-align: center; padding: 20px; background-color: #222; color: #fff;">
                    &copy; 2025 Restaurant Management <br>
                    Call us : +91-9876543210
              </footer>
           
        </body>
    </html>