{% load static %}


<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title> Restaurant Menu</title>
            <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        </head>
        <body>
            
            <div class = "container">
                <h1>Our Menu</h1>
                 
                 {% for item in menu %}
                <div class="menu-item">

                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                    <p><strong>Price:</strong> rs.{{ item.price}}</p>
                </div>

                {% empty %}
                <p> No items found.</p>
                {% endfor %}
            </div>
           
        </body>
    </html>