<!DOCTYPE html>
<html lang = "en">
    <head>

    <meta charset="UTF-8">
    <TITTLE>{{ restaurant_name }} - Home</tittle>

    <style>
        body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
        background-color: #f4f4f4;
        }
        
        h1 {
        font-size: 48px;
        color: #333
        }

        p {
        font-size: 20px;
        color: #666;
        }

        </style>
    </head>

    <body>

        <h1>Welcome to {{ restaurant_name }}</h1>
        <p>We're glad you're here! Explore our delicious menu and enjoy your dining experience. </p>
    </body>
</html>