# For 404 Error

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Not Found - 404 </title>
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        <style>
            body {
            font-family:Arial, sans-serif;
            text-align: center;
            padding: 100px
            }

            h1 {
            font-size: 100px;
            margin-bottom: 0;
            }
            p {
            font-size:20px;
            }
            a {
            color: blue;
            text-decoration:underline;
            }
        </style>
    </head>
    <body>
        <h1>404</h1>
        <p>Oops! The Page you're looking for doesn't exist.</p>
        <p><a href="/">Go back to home</a></p>

    </body>
</html>