<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>

<body>

    <h1> Our Menu </h1>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px;">
        {% for item in items %}
        <div style="background: white; padding: 15px; border-radius: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); text-align: center;">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" width="200">
            {% endif %}
       
            


        <p>
            <strong>
            {{ item.name }} </strong>- rs{{ item.price }}
            <small>{{ item.description }}</small>

        </p>
        </div>
        {% endfor %}

    </div>

</body>
</html>