<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>

<body>
    <h1> Our Menu </h1>
    <ul>
        {% for item in items %}
        <div style="margin-bottom:20px;">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" width="200">
            {% endif %}

            


        <li>
            <strong>
            {{ item.name }} </strong>- rs{{ item.price }}
            <small>{{ item.description }}</small>

        </li>
        {% endfor %}
    </ul>

</body>
</html>